<!DOCTYPE html>
<html>
  <head>
    <title>Api do Gorick</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Api do Gorick</h1>
    <p>Bem vindo Gorick</p>
  </body>
</html>
